<form action="/login" method="post">
  <h1>Sign In</h1>
  <input id="email" name="email" type="text" />
  <input id="password" name="password" type="text" />
  <button type="submit">Sign In</button>
</form>

