<nav class="header">
  <!-- threadit logo -->
  <div class="threadit-logo">
    <div class="header-icon"></div>
    <h1>threadit</h1>
  </div>

  <!-- Search bar -->
  <input type="text" class="header-search" id="header-search" />

  <!--Right Icons  -->
  <div class="header-icons" id="header-icons">
    <div class="header-icon"></div>
    <div class="header-icon"></div>
    <div class="header-icon"></div>
    <div class="header-icon"></div>
    <div class="header-icon"></div>
  </div>

  <button class="header-burger" onclick="toggleBurger()"></button>
</nav>

<script>
  const toggleBurger = () => {
    const rightIcons = document.getElementById("header-icons");
    const searchBar = document.getElementById("header-search");
    rightIcons.classList.toggle("show");
    searchBar.classList.toggle("show");
  };
</script>
