<nav class="header">
  <!-- threadit logo -->
  <div class="threadit-logo">
    <div class="header-icon"></div>
    <h1><a href="/">threadit</a></h1>
  </div>

  <!-- Search bar -->
  <input type="text" class="header-search" id="header-search" />

  <!--Right Icons  -->
  <div class="header-icons" id="header-icons">
    <% if (user) {%>
    <div class="header-icon"><a href="/create">Create</a></div>
    <div class="header-icon"><%=user.username%></div>
    <%};%>
    <div class="header-icon">Settings</div>
    <% if (!user) {%>
    <div class="header-icon"><a href="/login">Log In</a></div>
    <div class="header-icon"><a href="/signup">Sign Up</a></div>
    <%};%>
  </div>

  <button class="header-burger" onclick="toggleBurger()"></button>
</nav>

<script>
  const toggleBurger = () => {
    const rightIcons = document.getElementById("header-icons");
    const searchBar = document.getElementById("header-search");
    rightIcons.classList.toggle("show");
    searchBar.classList.toggle("show");
  };
</script>
