<div class="posts">
    <!-- First Post -->
    <div class="post">
        <div class="post-user">
            <div class="post-user-icon"></div>
            <div class="post-user-name">@tris002xx</div>
            <div class="post-time">11 hr. ago</div>
        </div>

        <div class="post-content">
            <h2 class="post-title">
                Whats your first bad experience after getting a driving license?
            </h2>
            <p class="post-text">
                So I just got my license yesterday and I went driving around my place to
                get a feeling of it. It all went smooth until I accidentally hit someone
                side mirror who park on the side. The owner didnt ask for much and I
                thank them for that but my self esteem do went down after that. My skill
                kinda drop as I feel like I will hit something again. So can somebody
                tell a stories after they got their license so I can feel like its
                normal to do some stupid stuff first and probably use as my lesson for
                future driving.
            </p>
        </div>

        <div class="post-interactions">
            <div class="post-user-icon"></div>
            <div class="post-user-icon"></div>
            <div class="post-user-icon"></div>
            <div class="post-user-icon"></div>
        </div>
    </div>
    </div>
</div>
