<div class="sidenav">
  <nav class="sidenav-subsection">
    <h1 class="sidenav-title">Subsection</h1>
    <div class="sidenav-item">
      <div class="sidenav-item-icon"></div>
      <p>title</p>
    </div>
    <div class="sidenav-item">
      <div class="sidenav-item-icon"></div>
      <p>title</p>
    </div>
    <div class="sidenav-item">
      <div class="sidenav-item-icon"></div>
      <p>title</p>
    </div>
    <div class="sidenav-item">
      <div class="sidenav-item-icon"></div>
      <p>title</p>
    </div>
  </nav>
  <hr>
  <nav class="sidenav-subsection">
      <h1 class="sidenav-title">Subsection</h1>
      <div class="sidenav-item">
      <div class="sidenav-item-icon"></div>
      <p>title</p>
    </div>
    <div class="sidenav-item">
      <div class="sidenav-item-icon"></div>
      <p>title</p>
    </div>
    <div class="sidenav-item">
      <div class="sidenav-item-icon"></div>
      <p>title</p>
    </div>
    <div class="sidenav-item">
      <div class="sidenav-item-icon"></div>
      <p>title</p>
    </div>
  </nav>
  <hr>
  <nav class="sidenav-subsection">
    <h1 class="sidenav-title">Subsection</h1>
    <div class="sidenav-item">
      <div class="sidenav-item-icon"></div>
      <p>title</p>
    </div>
    <div class="sidenav-item">
      <div class="sidenav-item-icon"></div>
      <p>title</p>
    </div>
    <div class="sidenav-item">
      <div class="sidenav-item-icon"></div>
      <p>title</p>
    </div>
    <div class="sidenav-item">
      <div class="sidenav-item-icon"></div>
      <p>title</p>
    </div>
  </nav>
  <hr>
</div>
