<nav class="header">
  <!-- threadit logo -->
  <div class="threadit-logo">
    <h1 class="header-title puppies-play-regular">
      <a href="/">Threadit</a>
    </h1>
  </div>

  <!-- Search bar -->
  <!-- <input type="text" class="header-search" id="header-search" /> -->

  <!--Right Icons  -->
  <div class="header-icons" id="header-icons">
    <% if (user) {%>
    <div class="header-icon">
      <a href="/create" class="header-link pt-sans-caption-regular">Create</a>
    </div>
    <div class="header-icon">
      <a href="/" class="header-link pt-sans-caption-regular">
        <%=user.name%>
      </a>
    </div>
    <div class="header-icon">
      <a href="/login/logout" class="header-link pt-sans-caption-regular"
        >Log Out</a
      >
      <div class="header-selector"></div>
    </div>
    <%};%> <% if (!user) {%>
    <div class="header-icon">
      <a href="/login" class="header-link pt-sans-caption-regular">Log In</a>
    </div>
    <div class="header-icon">
      <a href="/signup" class="header-link pt-sans-caption-regular">Sign Up</a>
    </div>
    <%};%>
  </div>

  <button class="header-burger" onclick="toggleBurger()">
    <img src="../../assets/icons/burger-menu-svgrepo-com.svg" alt="hamburger icon" height="10px" width="100%" style="color: #685454;" />
  </button>
</nav>

<script>
  const toggleBurger = () => {
    const rightIcons = document.getElementById("header-icons");
    const searchBar = document.getElementById("header-search");
    document
      .getElementsByClassName("threadit-logo")[0]
      .classList.toggle("show");
    rightIcons.classList.toggle("show");
    searchBar.classList.toggle("show");
  };
  document.querySelectorAll(".header-icon").forEach((link) => {
    if (link.children.length > 1) {
      link.classList.add("selected");
    }
  });
</script>
