.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.threadit-logo {
    display: flex;
    align-items: center;
}

.header-icons {
    display: flex;
    align-items: center;
}

.header-icons-show {
    display: flex;
    align-items: center;
}

.header-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 20px;
    background-color: red;
}

.header-search {
    margin-left: 16px;
    margin-right: 16px;
}

.header-burger {
    display: none;
}

@media screen and (max-width: 768px) {
    .header-search {
        display: none;
    }

    .header-icons {
        display: none;
    }

    .header-icon{
        margin: 16px;
    }

    .header-burger {
        display: block;
    }

    .header-icons-show {
        display: block;
    }

}