.sidenav {
    margin: 16px 0 0 16px;
}

br {
    background-color: black;
}

.sidenav-subsection {
    display: flex;
    flex-direction: column;
    padding: 16px;
}


.sidenav-title,
.sidenav-item>p {
    margin: 0;

}

.sidenav-item {
    display: flex;
    align-items: center;
    padding-top: 8px;
    color: black;
    text-decoration: none;
}

.sidenav-item-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    border-radius: 8px;
    background-color: rgb(221, 131, 131);
}