.comment-box {
    border: none;
    display: block;
    width: 95%;
    overflow: hidden;
    margin-top: 16px;
    border-radius: 20px;
    min-height: 40px;
    line-height: 20px;
    padding: 16px;

}

.comment-box-button {
    width: 12%;
    margin-top: 16px;
    border-radius: 20px;
    padding: 4px;
    background-color: #685454;
    color: white;
    border: none;
    cursor: pointer;
}


.comments {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.comment {
    padding: 16px;
    border-left: 4px solid #685454;
    height: fit-content;
}

.comments>a {
    text-decoration: none;
    color: black;
}

.comment-user {
    display: flex;
    align-items: center;
    padding-top: 8px;
    font-size: small;
    text-decoration: none;
    margin-bottom: 8px;
}

.comment-user-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: rgb(221, 131, 131);
}

.comment-user-icon,
.comment-user-name,
.comment-time {
    margin-right: 16px;
}

.comment-text {
    font-size: large;
    margin-bottom: 8px;
    overflow-wrap: break-word;
}

.comment-interactions {
    display: flex;
    align-items: center;
    font-size: small;
    margin-bottom: 8px;
}

.comment-user-icon-reply {
    margin-right: 16px;
}

.comment-user-icon-reply:hover,
.comment-user-icon-show:hover {
    cursor: pointer;
    opacity: 0.5;
}

.replies {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-top: 24px;
}

.none {
    display: none;
}

@media screen and (max-width: 1258px) {
    .comment {
        overflow-wrap: break-word;
        width: inherit;
        padding: 4px;
        border-left: 2px solid #685454;
    }

    .comment-box {
        border: none;
        font-size: 6px;
        display: block;
        width: 80%;
        overflow: hidden;
        margin-top: 16px;
        border-radius: 20px;
        min-height: 40px;
        line-height: 20px;
        padding: 0px;
        padding-left: 10%;
        padding-right: 10%;
    
    }
    
    .comment-box-button {
        font-size: xx-small;
        width: 100%;
        margin-top: 16px;
        border-radius: 20px;
        padding: 4px;
        background-color: #685454;
        color: white;
        border: none;
        cursor: pointer;
    }

    .comment-form {
        width: 100%;
        align-items: center;
    }

    .comment-user {
        padding-top: 4px;
        font-size: xx-small;
        margin-bottom: 4px;
    }

    .comment-user-icon {
        width: 8px;
        height: 8px;
        border-radius: 4px;
    }

    .comment-user-name,
    .comment-time {
        margin-right: 8px;
    }

    .comment-title {
        font-size: x-small;
        font-family: "Josefin Sans", sans-serif;
        margin-bottom: 4px;
    }

    .comment-text {
        font-size: xx-small;
        margin-bottom: 4px;
        font-family: "Montserrat", sans-serif;
        font-weight: 450;
    }

    .comment-interactions {
        font-size: xx-small;
        margin-bottom: 4px;
    }
    .replies {
        margin-left: 2px;
        margin-top: 8px;
        overflow-wrap: break-word;
        
    }



}