.comments {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.comment {
    padding: 16px;
    border-left: 4px solid #685454;
    height: fit-content;
}

.comments>a {
    text-decoration: none;
    color: black;
}

.comment-user {
    display: flex;
    align-items: center;
    padding-top: 8px;
    font-size: small;
    text-decoration: none;
    margin-bottom: 8px;
}

.comment-user-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: rgb(221, 131, 131);
}

.comment-user-icon,
.comment-user-name,
.comment-time {
    margin-right: 16px;
}

.comment-text {
    font-size: large;
    margin-bottom: 8px;
    overflow-wrap: break-word;
}

.comment-interactions {
    display: flex;
    align-items: center;
    font-size: small;
    margin-bottom: 8px;
}

.comment-user-icon-reply {
    margin-right: 16px;
}

.comment-user-icon-reply:hover,
.comment-user-icon-show:hover {
    cursor: pointer;
    opacity: 0.5;
}

.replies {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-top: 24px;
}

.none {
    display: none;
}

@media screen and (max-width: 768px) {

    .comments,
    .comment-user {
        flex-direction: column;
    }

    .comment {
        padding: 8px;
        width: 280px;
    }

    .comment-user {
        padding-top: 4px;
        font-family: "Josefin Sans", sans-serif;
        font-size: xx-small;
        color: black;
        margin-bottom: 4px;
    }

    .comment-user-icon {
        width: 8px;
        height: 8px;
        border-radius: 4px;
    }

    .comment-user-name,
    .comment-time {
        margin-right: 8px;
    }

    .comment-title {
        font-size: x-small;
        font-family: "Josefin Sans", sans-serif;
        margin-bottom: 4px;
    }

    .comment-text {
        font-size: xx-small;
        margin-bottom: 4px;
        font-family: "Montserrat", sans-serif;
        font-weight: 450;
    }
}