.comments {
    margin-top: 20px;
    display: flex;
    flex-direction: column;

}

.comment {
    padding: 16px;
    width: 680px;
}

.comments>a {
    text-decoration: none;
    color: black;
}

/* .comment:hover {
    background-color: rgb(199, 172, 172);
    cursor: pointer;
} */

.comment-user {
    display: flex;
    align-items: center;
    padding-top: 8px;
    font-family: "Josefin Sans", sans-serif;
    font-size: small;
    color: black;
    text-decoration: none;
    margin-bottom: 8px;
}

.comment-user-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: rgb(221, 131, 131);
}

.comment-user-icon,
.comment-user-name,
.comment-time {
    margin-right: 16px;
}

.comment-title {
    font-family: "Josefin Sans", sans-serif;
    margin-bottom: 8px;
}

.comment-text {
    font-size: large;
    margin-bottom: 8px;
    font-family: "Montserrat", sans-serif;
    font-weight: 450;
}



@media screen and (max-width: 768px) {
    .comments {
        display: flex;
        flex-direction: column;
    }

    .comment {
        padding: 8px;
        width: 280px;
    }

    .comment-user {
        display: flex;
        align-items: center;
        padding-top: 4px;
        font-family: "Josefin Sans", sans-serif;
        font-size: xx-small;
        color: black;
        text-decoration: none;
        margin-bottom: 4px;
    }

    .comment-user-icon {
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 4px;
        background-color: rgb(221, 131, 131);
    }

    .comment-user-icon,
    .comment-user-name,
    .comment-time {
        margin-right: 8px;
    }


    .comment-title {
        font-size: x-small;
        font-family: "Josefin Sans", sans-serif;
        margin-bottom: 4px;
    }

    .comment-text {
        font-size: xx-small;
        margin-bottom: 4px;
        font-family: "Montserrat", sans-serif;
        font-weight: 450;
    }
}