/* Header Styles */
.header {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #f2f2f2;
    color: #685454;
    position: sticky;
    top: 0;
    border-radius: 80px;
    box-shadow: 5px 5px 11px 9px rgba(0, 0, 0, 0.1);
}

.threadit-logo {
    display: flex;
    align-items: center;
}

.header-title {
    margin: 0;
}

.header-icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-icon {
    margin-right: 48px;
    border-radius: 20px;
}

.selected {
    margin-top: 18px;
}

.header-link {
    text-decoration: none;
    color: #685454;
    font-size: 20px;
}

.header-search {
    margin-left: 16px;
    margin-right: 16px;
}

.header-selector {
    margin-top: 12px;
    background-color: #685454;
    width: 100%;
    height: 6px;
    border-radius: 3px;
}

.header-burger {
    display: none;
}

/* Media Queries */
@media screen and (max-width: 1258px) {
    .header {
        flex-direction: column;
        align-items: normal;
        border-radius: 20px;
    }

    .header-search,
    .header-icons {
        display: none;
    }

    .header-search.show,
    .header-icons.show {
        display: block;
        border: 0;
    }

    .header-icon {
        margin: 8px;
        text-align: center;
    }


    .header-link {
        cursor: pointer;
        font-size: 10px;
    }

    .header-link:hover {
        padding: 4px;
        border-radius: 10px;
        background-color: #685454;
        color: #f2f2f2;
    }

    .header-title {
        font-size: 20px;
    }

    .header-icon {
        margin-right: 5px;
        border-radius: 10px;
    }

    .threadit-logo {
        align-self: center;
    }

    .selected {
        margin-top: 0;
    }

    .header-burger {
        display: block;
        margin: 0;
        padding: 0;
        background-color: #f2f2f2;
        border: 0;
        cursor: pointer;

    }

    .header-selector {
        display: none;
    }
}