.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /* background-color: #333; */
    background: #685454;
    color: white;
    position: sticky;
    top: 0;
}

.threadit-logo {
    display: flex;
    align-items: center;
}

.header-icons {
    display: flex;
    align-items: center;
}

.header-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 20px;
    /* background-color: red; */
    background: #ea8a8a;
}

.header-search {
    margin-left: 16px;
    margin-right: 16px;
}

.header-burger {
    display: none;
}

@media screen and (max-width: 768px) {

    .header-search,
    .header-icons {
        display: none;
    }

    .header-burger,
    .header-search.show,
    .header-icons.show {
        display: block;
    }

    .header-icon {
        margin: 8px;

    }

    .header-title {
        font-size: x-small;
    }

    .header-icon {
        width: 20px;
        height: 20px;
        margin-right: 5px;
        border-radius: 10px;
        /* background-color: red; */
        background: #ea8a8a;
    }

}