.posts {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 16px;
}

.post {
    margin-top: 28px;
    background-color: #f2f2f2;
    padding: 28px;
    width: 100%;
    border-radius: 32px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.posts>a {
    text-decoration: none;
    color: black;
}

.post:hover {
    /* background-color: rgb(199, 172, 172); */
    cursor: pointer;
}

.post-user {
    display: flex;
    align-items: center;
    padding-top: 8px;
    text-decoration: none;
    margin-bottom: 8px;
}

.post-user-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
}

.post-user-icon,
.post-user-name,
.post-time {
    margin-right: 44px;
}

.post-title {
    margin-bottom: 8px;
    font-size: 32px;
    width: 100%;
    overflow-wrap: break-word;
    /* or word-wrap: break-word; */
}

.post-text {
    font-size: 20px;
    margin-bottom: 8px;
    font-weight: 500;
    width: 100%;
    overflow-wrap: break-word;
    /* or word-wrap: break-word; */
}

.post-interactions {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.post-link {
    display: inline-block;
    width: 800px;
}



@media screen and (max-width: 768px) {
    .posts {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 8px;
    }

    .post {
        padding: 8px;
        width: 280px;
        border-bottom: 4px #685454 solid;
    }

    .post-user {
        display: flex;
        align-items: center;
        padding-top: 4px;
        font-family: "Josefin Sans", sans-serif;
        font-size: xx-small;
        color: black;
        text-decoration: none;
        margin-bottom: 4px;
    }

    .post-user-icon {
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 4px;
        background-color: rgb(221, 131, 131);
    }

    .post-user-icon,
    .post-user-name,
    .post-time {
        margin-right: 8px;
    }


    .post-title {
        font-size: x-small;
        font-family: "Josefin Sans", sans-serif;
        margin-bottom: 4px;
    }

    .post-text {
        font-size: xx-small;
        margin-bottom: 4px;
        font-family: "Montserrat", sans-serif;
        font-weight: 450;
    }
}