<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/default.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/sidenav.css" />
    <link rel="stylesheet" href="/css/hero.css" />
    <link rel="stylesheet" href="/css/posts.css" />
    <link rel="stylesheet" href="/css/comments.css" />
    <link rel="stylesheet" href="/css/currentpost.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <title>CurrentPost-Threadit</title>
  </head>
  <body>
    <%- include('../partials/navs/header.ejs') %>
    <div class="hero">
      <%-include('../partials/navs/sidenav.ejs') %>
      <%-include('../partials/post.ejs') %>
    </div>
  </body>
</html>
