<form action="/api/post/<%=post.id%>" method="post">
  <textarea
    name="newComment"
    id="newComment"
    class="addCommentBox resize-ta"
  ></textarea>

  <div class="commentBoxOptions">
    <button class="commentBoxButton" type="submit">Comment</button>
  </div>
</form>
