<form action="/api/post/<%=post.id%>" method="post">
  <textarea
    name="newComment"
    id="newComment"
    class="comment-box resize-ta"
  ></textarea>

  <button class="comment-box-button type="submit">Comment</button>
</form>
