<form action="/create/post" method="post" class="signin-form">
  <h1 class="signin-heading">What's on your mind?</h1>
  <!-- <p class="signin-subheading">Sign in to your account</p> -->
  <div class="signin-textboxes">
    <input
      id="title"
      name="title"
      type="text"
      class="signin-input"
      placeholder="title"
    />
    <!-- <input
      id="text"
      name="text"
      type="text"
      class="signin-input"
      placeholder="content"
    /> -->
    <textarea
      id="text"
      name="text"
      rows="4"
      cols="50"
      class="signin-input"
      placeholder="content"
    ></textarea>
  </div>
  <button type="submit" class="signin-button">Post</button>
</form>
