<form action="/login/password" method="post" class="signin-form">
  <h1 class="signin-heading pt-sans-caption-regular">Log In</h1>
  <div class="signin-textboxes">
    <input
      id="username"
      name="username"
      type="text"
      class="signin-input"
      placeholder="Email"
    />
    <input
      id="password"
      name="password"
      type="password"
      class="signin-input"
      placeholder="Password"
    />
  </div>
  <button type="submit" class="signin-button">Sign In</button>
</form>
