<form
  action="/api/comment/<%=comment.id%>"
  method="post"
  class="form-reply none"
>
  <textarea
    name="newComment"
    id="newComment"
    class="comment-box resize-ta"
  ></textarea>

  <div class="commentBoxOptions">
    <button class="comment-box-button" type="submit">Reply</button>
  </div>
</form>
