<form action="/signup/create" method="post" class="signin-form">
  <h1 class="signin-heading">Create an account</h1>
  <p class="signin-subheading">Become a Threadit user!</p>
  <div class="signin-textboxes">
    <input
      id="email"
      name="email"
      type="text"
      class="signin-input"
      placeholder="Email"
    />
    <input
      id="username"
      name="username"
      type="text"
      class="signin-input"
      placeholder="Username"
    />
    <input
      id="name"
      name="name"
      type="text"
      class="signin-input"
      placeholder="Name"
    />
    <input
      id="password"
      name="password"
      type="password"
      class="signin-input"
      placeholder="Password"
    />
  </div>
  <button type="submit" class="signin-button">Sign Up</button>
</form>
